<!-- Footer -->
<footer class="page-footer font-small bg-dark fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center text-white py-3">© 2020 Copyright:
    
    <%= link_to "Alphablog.com", root_path %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->